Repository Eundms/vvue-be-refactoring: changes, and which pre-commit hooks are due for each by the changed paths.
All: google-java-format, run-gradle-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: google-java-format
        name: google-java-format
        entry: java -jar tools/google-java-format-1.25.2-all-deps.jar
        language: system
        types: [java]
#        args: ["--replace"]
      - id: run-gradle-tests
        name: Run Gradle Tests
        entry: ./gradlew test
        language: system
        files: \.(java|gradle|groovy)$

Revert "[chore] update deploy.yml"
  .github/workflows/deploy.yml
Due: none

[chore] 커밋메시지 템플릿 추가
  tools/.gitmessage.txt
Due: none

refactor: Spring Boot 2.7에서 3.5로 업그레이드 및 프로젝트 구조 현대화
  .gitignore
  build.gradle
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/main/java/com/exciting/vvue/VvueApplication.java
  src/main/java/com/exciting/vvue/auth/AuthController.java
  src/main/java/com/exciting/vvue/auth/model/Auth.java
  src/main/java/com/exciting/vvue/common/config/ExceptionControllerAdvice.java
  src/main/java/com/exciting/vvue/common/config/RestTemplateConfig.java
  src/main/java/com/exciting/vvue/common/interceptor/AccessTokenInterceptor.java
  src/main/java/com/exciting/vvue/common/interceptor/RefreshTokenInterceptor.java
  src/main/java/com/exciting/vvue/married/dto/MarriedDto.java
  src/main/java/com/exciting/vvue/married/model/Married.java
  src/main/java/com/exciting/vvue/memory/dto/req/MemoryAddReqDto.java
  src/main/java/com/exciting/vvue/memory/dto/res/PlaceMemoryToMapDto.java
  src/main/java/com/exciting/vvue/memory/model/PlaceMemory.java
  src/main/java/com/exciting/vvue/memory/model/PlaceMemoryImage.java
  src/main/java/com/exciting/vvue/memory/model/ScheduleMemory.java
  src/main/java/com/exciting/vvue/memory/model/UserMemory.java
  src/main/java/com/exciting/vvue/notification/model/Subscriber.java
  src/main/java/com/exciting/vvue/notification/model/VvueNotification.java
  src/main/java/com/exciting/vvue/picture/PictureController.java
  src/main/java/com/exciting/vvue/picture/model/Picture.java
  src/main/java/com/exciting/vvue/place/model/FavoritePlace.java
  src/main/java/com/exciting/vvue/place/model/Place.java
  src/main/java/com/exciting/vvue/place/model/PlaceStats.java
  src/main/java/com/exciting/vvue/schedule/ScheduleController.java
  src/main/java/com/exciting/vvue/schedule/dto/req/ScheduleReqDto.java
  src/main/java/com/exciting/vvue/schedule/model/Schedule.java
  src/main/java/com/exciting/vvue/user/model/User.java
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/application.yml
Due: google-java-format, run-gradle-tests

chore: Gradle 설정 업데이트 및 넥서스 라이브러리 적용
  build.gradle
  gradle.properties
  gradle/libs.versions.toml
  settings.gradle
  src/main/java/com/exciting/vvue/common/config/ExceptionControllerAdvice.java
Due: google-java-format, run-gradle-tests

feat: CloudFront 서명된 URL 기능 구현
  gradle/libs.versions.toml
  src/main/java/com/exciting/vvue/picture/PictureController.java
  src/main/java/com/exciting/vvue/picture/service/CloudFrontService.java
Due: google-java-format, run-gradle-tests

chore: 빌드 설정 업데이트
  build.gradle
  gradle/libs.versions.toml
Due: run-gradle-tests

chore: 애플리케이션 설정 업데이트
  src/main/java/com/exciting/vvue/notification/config/FirebaseConfig.java
  src/main/resources/application-prod.yml
  src/main/resources/application-test.yml
  src/test/java/com/exciting/vvue/notification/config/TestFirebaseConfig.java
Due: google-java-format, run-gradle-tests

refactor: 스케줄 DTO 구조 개선
  src/main/java/com/exciting/vvue/schedule/dto/req/ScheduleReqDto.java
  src/main/java/com/exciting/vvue/schedule/dto/res/ScheduleResDto.java
Due: google-java-format, run-gradle-tests

refactor: 랜딩 페이지 레포지토리 개선
  src/main/java/com/exciting/vvue/landing/repository/jpa/LandingInfoJpaRepository.java
Due: google-java-format, run-gradle-tests

chore: 자체 nexus library 제외
  build.gradle
  gradle/libs.versions.toml
Due: run-gradle-tests
